html {
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: springgreen;
    border-bottom: 1px solid #dbdbdb;
    position: fixed;
    width: 100%;
    z-index: 10;
}

h1 {
    font-size: 14px;
    font-weight: 500;
    color: #262626;
    line-height: 16px;
}

h3 {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #139ef2;
}

p {
    font-size: 	14px;
    line-height: 16px;
    font-weight: 300;
    color: #979797;
}

.position-menu {
    width: 935px;
    margin: 0 auto;
    background-color: slateblue;
    display: flex;
    align-items: center;
    height: 54px;
}

input {
    border-radius: 5px;
    text-align: center;
    height: 28px;
    width: 215px;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid #dbdbdb;
    color: #979797;
}

.menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.logo-icon {
    height: 19px;
    width: 19px;
    margin-top: 0px;
    padding: 1px 6px;
    border-right: 1px solid #dbdbdb;
    background-color: slategray;
}

.logo {
    height: 29px;
    width: 103px;
    margin-left: 10px;
    margin-top: 5px;
    background-color: steelblue;
}

.icone-esquerda {
    margin-left: 25px;
    height: 18px;
    width: 18px;
}

a {
    text-decoration: none;
    color: #000;
}

main {
    width: 935px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    /* background-color: steelblue; */
}

.feeds {
    width: 614px;
    height: 800px;
    /* background-color: wheat; */
}

.sidebar {
    width: 293px;
    margin-top: 111px;
    /* height: 400px; */
    background-color: aqua;
}

.sidebar img {
    float: left;
    border-radius: 50%;
}

.img-perfil {
    height: 56px;
    width: 56px;
    margin-right: 17px;
}

.alinhamento {
    height: 56px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    /* margin-top: 57px; */
}

.sugestoes {
    background-color: aquamarine;
    margin-top: 24px;
}

.sugestao {
    display: flex;
    align-items: center;
    margin-top: 17px;
    justify-content: space-between;
}

.sugestao p {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #8e8e8e;
}

.sugestao h2 {
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    color: #262626;
}

.sugestao img {
    float: left;
    height: 32px;
    width: 32px;
    margin-right: 11px;
    border-radius: 50%;
}

.perfil {
    display: flex;
    background-color: azure;
}

.descricao p {
    font-weight: 400;
    margin-top: 6px;
}

.feed-bar {
    box-sizing: border-box;
    height: 118px;
    width: 100%;
    margin-top: 88px;
    overflow: hidden;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    background-color: brown;
}

.stories {
    display: flex;
    margin-left: 18px;
    background-color: crimson;
}

.stories img {
    height: 56px;
    width: 56px;
    border-radius: 50%;
}

img.background {
    height: 66px;
    width: 66px;
    position: relative;
    top: -86px;
    z-index: -1;
}

.story {
    text-align: center;
    width: 67px;
    margin-right: 14px;
    margin-top: 18px;
    /* background-color: cornflowerblue; */
}

.story p {
    margin-top: 6px;
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
    color: #262626;
    overflow: hidden;
    text-overflow: ellipsis;
}